@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';


body {
  font-family: 'Aeonik', sans-serif; /* Default to Poppins */
  background-color: rgb(243, 243, 243);
}

body.bg-gray-900 {
  background-color: #1a202c; /* Dark background */
  color: #e2e8f0; /* Light text */
}

body.bg-white {
  background-color: #ffffff; /* Light background */
  color: #1a202c; /* Dark text */
}

body.light {
  background-color: #ffffff;
  color: #1a202c;
}

body.dark {
  background-color: #1a202c; /* Dark background */
  color: #e2e8f0; /* Light text */
}

h1, h2, h3, h4, h5, h6, p, span, a, li, button {
  font-family: 'Aeonik', sans-serif; 
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: light;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Bold.otf') format('opentype');
  font-weight: bolder;
  font-style: extra-bold;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
/*button:hover {
  border-color: #646cff;
}*/
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar.light {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.navbar.dark {
  background-color: #2d3748; /* Dark navbar background */
  border-bottom: 1px solid #4a5568;
}

.theme-toggle-btn {
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: #f3f4f600;
  border-radius: 50%; /* Make it a circle */
  padding: 0.5rem; /* Add spacing inside the circle */
  width: 2.5rem; /* Ensure the button is a perfect circle */
  height: 2.5rem; /* Match width for a circle */
  transition: background-color 0.3s ease;
}

.theme-toggle-btn:hover {
  background-color: #e5e7eb;
}

.theme-toggle-btn.dark {
  background-color: #4a5568;
}

.theme-toggle-btn.dark:hover {
  background-color: #2d3748;
}

.bg-gray-800 {
  background-color: #2d3748; /* Card background in dark mode */
}

.text-gray-100 {
  color: #f7fafc; /* Light text for headings in dark mode */
}

.text-gray-400 {
  color: #a0aec0; /* Muted text for descriptions in dark mode */
}

.bg-gray-700 {
  background-color: #4a5568; /* Icon background in dark mode */
}